<div class="section">
  <h1>Hi there!</h1>
  <p>Welcome to Wishly, the easy way to create, manage, and send wishlists to your friends and family. To get started, click the button below.</p>
  <%= link_to 'Create a wishlist', new_wishlist_path, class: 'button' %>
</div>
