<p>Hi there,</p>

<p>Welcome to Wishly, the easy way to create, manage, and send wishlists to your friends and family.</p>

<p>You've created a new wishlist, "<%= @wishlist.title %>"—congratulations! You can visit your wishlist at any time to update it or to confirm what's on it by clicking the link below. Note that you won't be able to see what items have and haven't been purchased by the people you invited to your list. After all, not knowing is half the fun ;-)</p>

<%= link_to 'Visit wishlist', wishlist_url(@wishlist, user_id: @recipient.id) %>

<p>Make sure to save this email as the link above is your access to your wishlist.</p>

<p>Happy wishlisting!</p>

<p>Your friends at Wishly<br>
<%= link_to root_url, root_url %></p>

<%= render partial: 'shared/wishlist_mailer/footer' %>