<p>Hi there,</p>
<p>
  You can visit your wishlist at any time to update it or to confirm what's on it by clicking <%= link_to 'here', wishlist_url(@wishlist, user_id: @recipient.id) %>.
</p>
<p>Your friends at Wishly</p>