* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  height: 10vh;
  max-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    position: absolute;
    left: 10vw;
    text-decoration: underline;
    color: black;
    align-self: center;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 36px;
  }
  div {
    display: flex;
    align-items: center;
  }
  // box-shadow: 0 1px 1px 1px #eee;
  margin-bottom: 30px;
  .user-name {
    position: absolute;
    right: 20px;
  }
}

.content {
  flex: 1;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  h1, p {
    color: #333;
  }
  h1 {
    font-family: serif;
    font-weight: 700;
  }
  p {
    line-height: 2rem;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  max-height: 100px;
  // border-top: 1px solid #EBECEB;
  font-size: 1rem;
  font-weight: 100;
}

form {
  margin-bottom: 50px;
  ul {
    list-style-type: none;
  }
}

.section {
  padding: 60px 60px 65px 60px;
  border: 1px solid #EBECEB;
  border-radius: 15px;
  margin-bottom: 50px;
  h1 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 40px;
  }
}

.button {
  display: block;
  width: 125px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  color: #2A70EC;
  text-decoration: none;
  border: 1px solid #2A70EC;
  &:hover {
    background-color: #2A70EC;
    color: white;
    // font-weight: normal;
  }
}

#flash-container {
  margin-bottom: 50px;
  color: #F9F8FF;
  .alert, .notice {
    padding-left: 10vw;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .alert {
    background-color: #EA616C;
  }
  .notice {
    background-color: #8EF192;
  }
}