.button {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  color: color(primary);
  text-decoration: none;
  border: 1px solid color(primary);
  cursor: pointer;
  &.link {
    width: 125px;
  }
  &.submit-button {
    width: initial;
    width: 100%;
  }
  &.add-button {
    margin: 0;
    padding: 10px 15px;
  }
  &:hover {
    background-color: color(primary);
    color: white;
    // font-weight: normal;
  }
}