nav {
  height: 10vh;
  max-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    position: absolute;
    left: 10vw;
    text-decoration: underline;
    color: black;
    align-self: center;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 36px;
  }
  div {
    display: flex;
    align-items: center;
  }
  // box-shadow: 0 1px 1px 1px #eee;
  margin-bottom: 30px;
  .user-name {
    position: absolute;
    right: 20px;
  }
}