nav {
  height: 10vh;
  max-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    position: absolute;
    left: 10vw;
    text-decoration: underline;
    color: black;
    align-self: center;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 36px;
  }
  div {
    display: flex;
    align-items: center;
  }
  margin-bottom: 30px;
  @media (max-width: break-point(md-max)) {
    margin-bottom: 0;
  }
  .user-name {
    position: absolute;
    right: 20px;
  }
}