// Font sizs
$font-sizes: (
  h1: (
    42 / 16
  ) * 1em,
  h2: (
    32 / 16
  ) * 1em,
  h3: (
    24 / 16
  ) * 1em,
  p: (
    16 / 16
  ) * 1em,
  p-small: (
    14 / 16
  ) * 1em
);
@function font-size($font-size) {
  @return map-get($font-sizes, $font-size);
}
// Generate static font size classes from font-size variables
@mixin font-sizes {
  @each $name, $em in $font-sizes {
    &-#{$name} {
      font-size: $em;
    }
  }
}


// Breakpoints
$break-points: (
  xl-min: 1501px,
  xl-max: 1500px,
  lg-min: 991px,
  lg-max: 990px,
  md-min: 768px,
  md-max: 767px,
  sm-min: 544px,
  sm-max: 543px,
  xs-min: 361px,
  xs-max: 360px
);
@function break-point($break-point) {
  @return map-get($break-points, $break-point);
}


// Line heights
$line-heights: (
  1: 1,
  12: 1.2,
  13: 1.3,
  14: 1.4,
  15: 1.5,
  16: 1.6,
  18: 1.8,
  2: 2
);
@function line-height($line-height) {
  @return map-get($line-heights, $line-height);
}

// Generate line-height classes
@mixin line-height {
  @each $name, $line-height in $line-heights {
    &-#{$name} {
      line-height: $line-height;
    }
  }
}
.line-height {
  @include line-height;
}


// Colors
$colors: (
  primary: #2A70EC,
  grey-dark: #333,
  grey: #bbb,
  grey-light: #EBECEB
);
@function color($color) {
  @return map-get($colors, $color);
}
