<div>
  <li>
    <% if wishlist_item.url.blank? %> 
      <%= wishlist_item.name %> 
    <% else %> 
      <%= link_to wishlist_item.name, wishlist_item.url %> 
    <% end %> 
  </li>
</div>
<div>
  <%= link_to 'Purchase',
    wishlist_item_purchase_path(wishlist, wishlist_item, user_id: user.id),
    class: "wishlist-item__purchase-button",
    data: {
      turbo_method: :post
      }
  %> 
</div>